src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="hello-world-flow">
            <http:listener config-ref="HTTP_Listener_config" path="/hello" doc:name="HTTP Listener"/>
            <ee:transform doc:name="Set Payload with Date/Time">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "🎉 Hello, Beautiful World! 🌟",
    greeting: "Welcome to this wonderful moment! ✨",
    mood: "Absolutely fantastic! 😊",
    timestamp: now(),
    formattedDate: now() as String {format: "yyyy-MM-dd"},
    formattedTime: now() as String {format: "HH:mm:ss"},
    formattedDateTime: now() as String {format: "yyyy-MM-dd HH:mm:ss"},
    dayOfWeek: now() as String {format: "EEEE"},
    encouragement: "You're doing amazing! Keep shining! 🌈✨",
    funFact: "This response was generated with extra joy and sparkles! 🎊"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        </flow>
</mule>